
<div class="mdui-typo" style="position:fixed;bottom:330px;z-index: 2;">
    <ul style="list-style:none;">
        <li style="background-color: #ac2925;border-radius: 5px;height: 40px;width:80px;line-height: 40px;text-align: center;margin-bottom:10px"><a href="{{ language }}feedback/" style="color:#fff;">{{feed_back}}</a></li>
        <li style="background-color: #ac2925;border-radius: 5px;height: 40px;width:80px;line-height: 40px;text-align: center;margin-bottom:10px"><a href="{{ option.qqgroup }}" style="color:#fff;" target="view_window">{{qq_group}}</a></li>
        <li style="background-color: #ac2925;border-radius: 5px;height: 40px;width:80px;line-height: 40px;text-align: center;margin-bottom:10px"><a href="{{ option.qqonline }}" style="color:#fff;" target="view_window">{{customer_service}}</a></li>
        <li style="background-color: #ac2925;border-radius: 5px;height: 40px;width:80px;line-height: 40px;text-align: center;margin-bottom:10px"><a href="" style="color:#fff;">{{back_top}}</a></li>
    </ul>
</div>
